body {
    margin: 0;
    background: linear-gradient(180deg, rgb(199, 106, 166), rgb(255, 255, 255));
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 600px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}
button:hover {
    border-color: #646cff;
    background-color: #4b4b4b;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.button-link-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    width: 540px;
}

.button-link {
    flex: 1 0 25%;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #8b048f;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    float: left;
    text-align: center;
}
.button-link:hover {
    border-color: #646cff;
    background-color: #f73803;
}
.button-link:focus,
.button-link:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
}

li {
    background-color: white;
    padding: 8px;
}

li:hover {
    background: #dadbf9;
}

li.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    gap: 20px;
}

.flexGap10 {display: flex; gap: 10px}

li.list div button {background: none; border: none; cursor: pointer}

a {
    font-weight: 800;
    text-decoration: none;
}

h1.gradient-text {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.15);
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

[data-amplify-authenticator][data-variation="modal"] {
    background-color: unset !important;
}

.mbs {margin-bottom: 10px;}